button {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #007a8d;
    border: 2px solid #0078ad;
    font-weight: bold;
    padding: 5%;
    margin: -1% 0;
    width: 100%;
}

button:active {
    background-color: #007a8d;
    color: #ffffff;
}