button {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #007a8d;
    border: 3px solid #71b5c0;
    font-weight: bold;
    padding: 15px;
    margin: -3px 0;
    width: 100%;
}

button:active {
    background-color: #007a8d;
    color: #ffffff;
}