header, .main, .option, ul {
  display: flex;
}

header {
  flex-direction: column;
}

header .main {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 4% 2%;
}

header .main .header-logo {
  max-width: 32%;
  margin: 0 10%;
}

header .main .option {
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
}

header .main .option p {
  color: #007a8d;
  font-weight: 500;
  margin-top: 5%;
}

header .main hr {
  border: 1.5px solid #d2d4d5;
}

nav ul {
  color: #fff;
  font-weight: 500;
  background: #18acc4;
  justify-content: space-between;
  padding: 4%;
  list-style: none;
}

.web {
  display: none;
}

@media (min-width: 770px) {

  header .main {
    padding: 2% 1%;
    justify-content: space-between;
  }

  #web-hr {
    border: 1.5px solid #d2d4d5;
    height: 120%;
  
  }

  header .main .header-logo {
    max-width: 10%;
  
  }

  header .main .option {
  
    flex-direction: row;
  }

  nav ul {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-left: 3%;
  }

  nav ul li {
    padding: 1%;
  }

  nav ul li:active {
    background: #007a8d;
    padding: 1%;
  }

  .web {
    display: list-item;
    list-style: none;
    justify-content: center;
  }

  .mobile {
    display: none;
  }

  div.option sgv.web {
    margin-left: 6%;
  }

  header .main .option #phone-number {
    color: #007a8d;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
}