footer, .footer-container, 
.phone, .chat, 
.email, .help, #made-with {
  display: flex;
}

footer {
  background: #18acc4;
  color: #fff;
  font-weight: 500;
}

.footer-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.phone, .chat, .email, .help {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0078ad;

  padding: 20px;
  width: 136px;
  margin-top: 3px;
}

div .phone {
  width: 100%;
  flex-direction: row;
  margin-top: 0;
}

div .phone span {
  display: flex;
  flex-direction: column;
}

div .phone svg {
  margin-right: 5px;
}

#made-with {
  padding: 30px;
  align-items: center;
  margin-left: 53px;
}

#made-with svg {
  margin: 0 4px;
}