main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.font-color {
  color: #1f2d30;
}

.font-color {
  padding: 8px;
}

#account-link {
  padding: 15px 30px;
  font-weight: bold;
  color: #007a8d;
}

.all-semesters {
  border-radius: 6px 6px 0 0;
}
.first-semester {
  border-radius: 0 0 6px 6px;
}
.second-semester {
  border-radius: 0;
}

.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  box-shadow: 3px 4px 14px -4px rgba(0,0,0,0.8);
}

#add-img {
  width: 20vw;
}

.footer {
  background-color: #007a8d;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 32vw;
  height: 16vh;
  margin: 5px 2px 2px 2px;
  justify-content: center;
  align-items: center;
}
.footer-img {
  width: 10vw;
  margin: 5px;
}
#phone {
  margin-top: 0;
  width: 100vw;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer p {
  padding: 30px;
  text-align: center;
}
footer {
  background-color: #18acc4;
  color: #ffffff;
  font-weight: bold;
}